extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Anthony Candaele

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I'm a full stack web developer living in Ghent (Belgium). I develop your web application, front to back.
            | Do you have an idea for a great web application with rich interaction, let's meet. I can realize your idea with state of the art technology, lightning fast and highly scalable.  
  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Javascript
          li Node.js
          li Express.js
          li HTML
          li SASS
          li Responsive
        h6 Contact Info

        ul
          li +32498137260
          li info@anthonycandaele.com

        a.button.expanded(href='https://www.linkedin.com/in/anthonycandaele/') LinkedIn
        a.button.expanded(href='https://github.com/acandael') GitHub
        a.button.expanded(href='https://twitter.com/acandael') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  